<div class="app-wrapper">

  <div class="app">
    <div>
      {{#if message}}
        <div class="message">{{message}}</div>
      {{/if}}
    </div>

    <header>
      <div class="logo">
        <a href="/index"><img
            width="200px"
            src="/images/Spotify_Logo.png"
            alt=""
          /></a>
      </div>
      <div class="menu">
        <ul class="menu-items">
          <li><a href="/register">Sign up</a></li>
          <li><a href="/login">Login</a></li>
        </ul>
      </div>
    </header>
    <section>
      <div class="banner"> </div>
    </section>
    <div class="header">

    </div>

    <!-- PLAYLISTS -->

    <div>
      <a href="/playlists"><h2>Playlists</h2></a>
      <div>
        <table class="table">
          <thead>
            <tr>
              <th>ID</th>
              <th>Image</th>
              <th>Playlist</th>
              <th></th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            {{#each playlists}}
              <tr>
                <td>{{id}}</td>
                <td>
                  <img class="playlist-image" src="/views/images/{{image}}" />
                </td>
                <td>{{playlist_name}}</td>
                <td><a
                    class="btn delete-btn"
                    href="/delete/playlists/{{id}}"
                  >delete</a></td>
                <td><a
                    class="btn edit-btn"
                    href="/editPlaylist/{{id}}"
                  >edit</a></td>

              </tr>
            {{/each}}
          </tbody>
        </table>
      </div>
    </div>

    <!-- PLAYLISTS -->

    <div>
      <div style="margin-bottom: -25px ;">
        <a href="/playlists"><h2>Songs</h2></a>
      </div>
      <div class="addSong">
        <div
          style="margin-right: 40px;
        font-weight: bold"
        ><p>Add a new song</p></div>
        <form method="POST">

          <input type="text" name="artist_name" placeholder="Artist" />
          <input type="text" name="song_Name" placeholder="Song" />
          <input type="text" name="song_Album" placeholder="Album" />
          <button type="submit" class="submit">Submit</button>
        </form>
      </div>
      <table class="table">
        <thead>
          <tr>
            <th>ID</th>
            <th>Artist</th>
            <th>Song</th>
            <th>Album</th>
          </tr>
        </thead>
        <tbody>
          {{#each songs}}
            <tr>
              <td>{{id}}</td>
              <td>{{artist_name}}</td>
              <td>{{song_Name}}</td>
              <td>{{song_Album}}</td>
              <td><a
                  class="btn delete-btn"
                  href="/delete/{{id}}"
                >delete</a></td>
              <td><a class="btn edit-btn" href="/edit/{{id}}">edit</a></td>

            </tr>
          {{/each}}
        </tbody>
      </table>
    </div>
    <footer>
      <div class="footer">
        <div class="footer-banner"></div>

        <div class="end">
          <p> &copy; Kodavimo fabrikėlis </p>
        </div>
      </div>
    </footer>
  </div>
</div>