<div class="container bg-white">
    {{#if message}}
        <div class="alert alert-{{status}}">
            {{message}}
        </div>
    {{/if}}
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Vardas</th>
                <th>El. paštas</th>
                <th>Slaptažodis</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {{#each users}}
                <tr>
                    <td>{{this.name}}</td>
                    <td>{{this.email}}</td>
                    <td>{{this.password}}</td>
                    <td>
                        <a href="/delete/{{@key}}" class="btn btn-danger">Ištrinti</a>
                        <a href="/edit/{{@key}}" class="btn btn-success">Redaguoti</a>
                    </td>
                </tr>
            {{/each}}
        </tbody>
    </table>
</div>
<script>
    {{!-- console.log(window.location.href)
    setTimeout(() => window.location = '/admin', 3000) --}}
</script>